<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleVersion</key>
    <string>1518751230</string>
    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleExecutable</key>
    <string>Extender</string>

    <key>CFBundleIdentifier</key>
    <string>com.cydia.Extender</string>
    <key>CFBundleName</key>
    <string>Extender</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9.44</string>

    <key>BuildMachineOSBuild</key>
    <string>11G63</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>DTCompiler</key>
    <string></string>
    <key>DTPlatformBuild</key>
    <string>4H1003</string>
    <key>DTPlatformVersion</key>
    <string>GM</string>
    <key>DTSDKBuild</key>
    <string>12D75</string>
    <key>DTSDKName</key>
    <string>iphoneos6.1</string>
    <key>DTXcode</key>
    <string>0462</string>
    <key>DTXcodeBuild</key>
    <string>4H1003</string>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2013 Jay Freeman (saurik). All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>UIApplication</string>

    <key>SBUsesNetwork</key>
    <integer>11</integer>

    <key>DTSDKName</key>
    <string>iphoneos2.0.saurik</string>

    <key>DTPlatformVersion</key>
    <string>8.0</string>

    <key>MinimumOSVersion</key>
    <string>2.0</string>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>

    <key>CFBundleIconFiles</key>
    <array>
        <string>AppIcon29x29</string>
        <string>AppIcon40x40</string>
        <string>AppIcon60x60</string>
        <string>AppIcon76x76</string>
        <string>AppIcon83.5x83.5</string>
    </array>

    <key>UIApplicationExitsOnSuspend</key>
    <false/>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <key>UILaunchImages</key>
    <array>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 480}</string>
        </dict>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 568}</string>
        </dict>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default-667h</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>8.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{375, 667}</string>
        </dict>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default-736h-Portrait</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>8.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{414, 736}</string>
        </dict>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default-736h-Landscape</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>8.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Landscape</string>
            <key>UILaunchImageSize</key>
            <string>{414, 736}</string>
        </dict>
    </array>

    <key>UILaunchImages~ipad</key>
    <array>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default-Portrait</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{768, 1024}</string>
        </dict>
        <dict>
            <key>UILaunchImageName</key>
            <string>iOS7-Default-Landscape</string>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageOrientation</key>
            <string>Landscape</string>
            <key>UILaunchImageSize</key>
            <string>{768, 1024}</string>
        </dict>
    </array>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>iPhone Application</string>

            <key>CFBundleTypeIconFiles</key>
            <array>
            </array>

            <key>LSItemContentTypes</key>
            <array>
                <string>com.cydia.Extender.IPA</string>
            </array>

            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Cydia Extender Internal URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>cyext</string>
            </array>
        </dict>
    </array>

    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>

            <key>UTTypeDescription</key>
            <string>public.archive</string>

            <key>UTTypeIdentifier</key>
            <string>com.cydia.Extender.IPA</string>

            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <string>ipa</string>
                <key>public.mime-type</key>
                <string>application/octet-stream</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
